HOST_IP=192.168.1.100
GITEA_DB_USER=admin
GITEA_DB_PWD=your_secure_db_password
TZ=Asia/Kolkata
GITEA_RUNNER_REGISTRATION_TOKEN=your_manual_token_here
CODE_SERVER_PASSWORD=your_secure_password
CODE_SERVER_SUDO_PASSWORD=your_sudo_password
CODE_SERVER_PUID=1000
CODE_SERVER_PGID=1000
